<div class="mt-5">
    <h3>My Courses</h3>

    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Slug</th>
                <th scope="col" colspan="2">Created At</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{ this.name }}</td>
                <td>{{ this.slug }}</td>
                <td>{{ this.createdAt }}</td>
                <td>
                    <a href="/courses/{{ this._id }}/edit" class="btn btn-link">Edit</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-{{ this._id }}">Delete</a>
                </td>

                {{!--  --}}
                    <div class="modal" tabindex="-1" id="delete-course-{{ this._id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirm Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <form method="POST" action="/courses/{{ this._id }}/?_method=DELETE">
                                    <button type="submit" class="btn btn-danger">Detele</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                            </div>
                        </div>
                    </div>
                {{!--  --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>